

<div class='container-fluid location-box farm'>
  
    <h3>Farm</h3>
    <h4>Earn 2 - 5 Goldz</h4>
    <button class='btn btn-warning loc_btn' (click) = 'getGold(2, 5, "Farm")'>Click It</button>  
</div>

<div class='container-fluid location-box house'>  
    <h3>House</h3>
    <h4>Earn 10 - 20 Goldz</h4>  
    <button class='btn btn-warning loc_btn' (click) = 'getGold(10, 20, "House")'>Click It</button>  
</div>

<div class='container-fluid location-box casino'>  
    <h3>Casino</h3>
    <h4>Try your luck!</h4>
    <button class='btn btn-warning loc_btn' (click) = 'getGold(1, 100, "Casino")'>Click It</button>  
</div>

   
  


